.navbar-brand {
  min-width: 18vw;
  padding-left: 2vw;
}

.mr-auto {
  display: flex;
  justify-content: flex-end;
  min-width: 78vw;
  padding-right: 2vw;
}

#home {
  text-align: center;
  min-width: 100vw;

}

#shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* fix product image align */
.item-image {
  max-width: 50vw;
  min-height: 380px;
  max-height: 380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-name {
  text-align: center;
  word-wrap: break-word;
  max-width: 30vw;

}

.product {
  max-width: 30vw;
  max-height: 30vh;
  padding: 1vw;
}

.center {
  max-width: 64em;
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}